* {
  margin: 0;
  padding: 0;
}

input {

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
  }

  &[disabled] {
    color: inherit;
    opacity: 1;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -webkit-text-fill-color: unset;
  }
}

.cp-container {
  box-sizing: border-box;
  height: calc(100vh - 18px);
  min-height: 90vw;
  padding: 6vw 5vw;
  position: relative;
  transition: 0.5s;
  width: 100vw;

  @media (min-width: 768px) {
    min-height: 0;
    padding: 6vw;
  }

  @media (min-width: 1024px) {
    padding: 4vw 6vw;
  }
}

.cp-heading {
  margin: 0 10px 7vh 0;
  text-align: center;

  @media (min-width: 1024px) {
    margin: 0 0 7vh;
    text-align: right;
  }
}

.cp-body-wrapper {
  margin: 0 auto;
  width: 88vw;

  @media (min-width: 768px) {
    width: 84vh;
  }

  @media (min-width: 1024px) {
    width: 88vw;
  }
}

.cp-forms-wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 2vh;

  .cp-form-operator {
    font-weight: 700;
    margin: 0 2vw 2vh;
  }
}

.cp-yield-wrapper {
  display: inline-flex;
  margin: 5vh 5.5vw 0;

  @media (min-width: 768px) {
    margin: 5vh 6vh 0;
  }

  @media (min-width: 1024px) {
    margin: 1vh 0 0;
  }

  .cp-form-operator {
    font-weight: 700;
    margin: 0 3vw;

    @media (min-width: 768px) {
      margin: 0 6vh;
    }
  }
}

.cp-form {
  margin: 0 0 3vh;
}

.cp-input {
  background-color: rgba(225, 225, 225, 0.4);
  border: none;
  box-shadow: none;
  color: inherit;
  margin: 0 0.3vw;
  -moz-appearance: none;
  -o-appearance: none;
  text-align: center;
  -webkit-appearance: none;
  width: 14vw;

  &:focus {
    outline: none;
  }

  @media (min-width: 768px) {
    width: 15vh;
  }

  @media (min-width: 1024px) {
    width: 12vh;
  }
}

.cp-yield-input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1.5vw;
  width: 61vw;

  @media (min-width: 768px) {
    border-bottom: solid 1.45vh;
    width: 44.1vh;
  }

  @media (min-width: 1024px) {
    width: 38.6vh;
  }
}

.cp-menu-link {
  bottom: 30px;
  color: inherit;
  display: none;
  font-size: 30px;
  height: 46px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 40px;

  &.cp-menu-about {
    left: 30px;

    @media (min-width: 768px) {
      left: 60px;
    }
  }

  &.cp-menu-code {
    left: 80px;

    @media (min-width: 768px) {
      left: 110px;
    }
  }

  &:hover {
    opacity: 0.5;
  }

  @media (min-width: 1024px) {
    top: 4vw;
  }
}

.cp--non-selectable {
  @media (min-width: 768px) {
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.cp--inline {
  display: inline-flex;
}
