* {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.cp--bold {
  font-weight: 700;
}

.cp-typo-heading {
  font-size: 10vw;

  @media (min-width: 768px) {
    font-size: 10vh;
    line-height: 10vh;
  }
}

.cp-typo-body {
  font-size: 4vw;

  @media (min-width: 768px) {
    font-size: 3.5vh;
  }
}
